[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/traintrain115
[access "refs/for/refs/*"]
	read = group user/traintrain115
	push = group user/traintrain115
	label-Code-Review = -2..+2 group user/traintrain115
	label-Verified = -1..+1 group user/traintrain115
	rebase = group user/traintrain115
	removeReviewer = group user/traintrain115
	submit = group user/traintrain115
[access "refs/heads/*"]
	read = group user/traintrain115
	create = group user/traintrain115
	push = +force group user/traintrain115
	pushMerge = group user/traintrain115
[access "refs/tags/*"]
	push = group user/traintrain115
	push = +force group user/traintrain115
